JimsSolution
Question_iPad.png
Question_iPhoneX.png
Question_lessthan740px.png
Question_lessthan920px.png
Question_mobileLandscape.png
iPhone678Plus.png
iPhone678Plus_code.png
iPadLandscape.png
iPadProLandscape.png
iPadProPortrait.png
Thumbs.db
.DS_Store